mat-toolbar {
  background-color: #000000;
}

.logo {
  margin-right: 6em;
}

a {
  font-family: "Koulen", cursive;
  text-decoration: none;
  color: #f06c9b;
  text-align: center;
}

a:hover {
  color: #000000;
  background-color:#F5D491;
  transition: 1s ease;
}
