<mat-toolbar>
  <mat-toolbar-row>
    <div class="logo">
      <a routerLink="" routerLinkActive="active" alt="logo"><img src="#" /></a>
    </div>
    <button mat-button>
      <a routerLink="" routerLinkActive="active">Home</a>
    </button>
    <button mat-button>
      <a routerLink="about" routerLinkActive="active">About</a>
    </button>
    <button mat-button>
      <a routerLink="experience" routerLinkActive="active">Experience</a>
    </button>
    <button mat-button>
      <a routerLink="projects" routerLinkActive="active">Projects</a>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
