mat-toolbar {
  background-color: #000000;
  margin: 15px 0 5px 0;
}

img {
  height: 65px;
  width: auto;
  margin-right: 70px;
}

a {
  font-family: "Koulen", cursive;
  text-decoration: none;
  color: #f06c9b;
  text-align: center;
}

a:hover {
  color: #000000;
  background-color:#F5D491;
  transition: 1s ease;
}
