<footer>
  <span>&lt; Jasmine Christine &gt;</span>
  <a
    href="https://github.com/JasChristine"
    alt="GitHub"
    target="_blank"
    class="links"
    ><img src="#"
  /></a>
  <a
    href="https://www.linkedin.com/in/jasmine-risor/"
    alt="Linkedin"
    target="_blank"
    ><img src="#"
  /></a>
  <a
    href="https://www.instagram.com/jas_christine_/"
    alt="Instagram"
    target="_blank"
    ><img src="#"
  /></a>
  <a
    href="https://www.deviantart.com/lunarkitsune-art"
    alt="DeviantArt"
    target="_blank"
    ><img src="#"
  /></a>
</footer>
